include AUTHORS
include CONTRIBUTING.rst
include LICENSE
include README.rst
include versioneer.py
include src/jsonspec/_version.py
recursive-include src/jsonspec/misc/schemas *.json
recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-include docs *.rst conf.py Makefile make.bat
