include AUTHORS
include CONTRIBUTING.rst
include Changelog
include LICENSE
include README.rst
include src/json/misc/schemas/*
include src/json/misc/schemas/*/*
include src/json/misc/schemas/*/*/*

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat